
.portfolioTiles {
  padding-right: 10px;
  line-height: 175px;
}

.portfolioTiles p {
  line-height: 18px;
}

.portfolioTiles > a > img {
  width: 240px;
  border: 1px solid grey;
}

.publisher {
  text-align: center;
  background: #ccc;
  padding: 10px 15px;
  margin: 0px -20px;
  border-top: 1px solid grey;
  border-bottom: 1px solid grey;
}

.actions {
  z-index: 100;
  margin-left: -235px;
  width: 235px;
  height: 68px;
  text-align: right;
  margin-top: -68px;
}


.modal-footer {
  line-height: 20px;
}


@media (min-width: 768px) and (max-width: 979px) {


    .publisher {
      padding: 5px 20px;
      margin: 0px -20px;
    }

    .actions {
      width: 195px;
      margin-left: -195px;
      height: 55px;
      margin-top: -55px;
    }

    .portfolioTiles {
      padding-right: 5px;
      line-height: 145px;
    }

    .portfolioTiles > a > img {
        width: 200px;
    }

}



@media (max-width: 767px) {

  .actions {
    width: 135px;
    margin-left: -135px;
    height: 35px;
    margin-top: -35px;
  }

  .publisher {
    padding: 5px 15px;
    margin: 0px -20px;
  }

  .portfolioTiles {
    padding-right: 5px;
    line-height: 105px;
  }

  .portfolioTiles > a > img {
      width: 140px;
  }
}